<a href="https://colab.research.google.com/github/krisdanner/KNN_Pandas/blob/main/KNN_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix

#carregando o dataset

nomes = ['SepComp', 'SepLarg', 'PetComp', 'PetLarg', 'Classe']
df = pd.read_csv('iris.data', names = nomes)
print(df.head(150))
X = df[df.columns.difference(['Classe'])].values
y = df['Classe'].values

#treinando o KNN

iris_classificador = KNeighborsClassifier(n_neighbors = 3)
iris_classificador.fit(X, y)
y_pred = iris_classificador.fit(X, y).predict(X)
print(iris_classificador.get_params())


#avaliando o desempenho com validação cruzada

scores_dt = cross_val_score(iris_classificador, X, y, scoring='accuracy', cv=3)
print(scores_dt.mean())

     SepComp  SepLarg  PetComp  PetLarg          Classe
0        5.1      3.5      1.4      0.2     Iris-setosa
1        4.9      3.0      1.4      0.2     Iris-setosa
2        4.7      3.2      1.3      0.2     Iris-setosa
3        4.6      3.1      1.5      0.2     Iris-setosa
4        5.0      3.6      1.4      0.2     Iris-setosa
..       ...      ...      ...      ...             ...
145      6.7      3.0      5.2      2.3  Iris-virginica
146      6.3      2.5      5.0      1.9  Iris-virginica
147      6.5      3.0      5.2      2.0  Iris-virginica
148      6.2      3.4      5.4      2.3  Iris-virginica
149      5.9      3.0      5.1      1.8  Iris-virginica

[150 rows x 5 columns]
{'algorithm': 'auto', 'leaf_size': 30, 'metric': 'minkowski', 'metric_params': None, 'n_jobs': None, 'n_neighbors': 3, 'p': 2, 'weights': 'uniform'}
0.9733333333333333

In [ ]:
#avaliando novas amostras

novos_exemplos = [[1.6,0.5,5.0,3.6],
                  [4.2,1.2,5.8,2.7],
                  [5.2,2.4,7.0,3.2]]
print(iris_classificador.predict(novos_exemplos))

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [ ]:
df.shape

(150, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SepComp  150 non-null    float64
 1   SepLarg  150 non-null    float64
 2   PetComp  150 non-null    float64
 3   PetLarg  150 non-null    float64
 4   Classe   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.describe().T

         count      mean       std  min  25%   50%  75%  max
SepComp  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
SepLarg  150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
PetComp  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
PetLarg  150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5